.container_main {
  margin-top: 50px;
  padding: 0 50px;
  display: flex;
}

.container_main .left {
  flex: 1;
}

.container_main .left h1 {
  font-size: 3rem;
  font-weight: bold;
  max-width: 150px;
}

.container_main .left p {
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 25px;
  max-width: 345px;
}

.container_main .right {
  max-width: 350px;
  flex: 1;
}

.container_main .right img {
  width: 100%;
}
